#education{
	.water_top{
		background: #3c4856 url(../images/water-top.png) no-repeat center bottom;
		width: 100%;
		height: 300px;
	}
	background: #526373 url(../images/underwater-bg.png) no-repeat center bottom;
	background-size: 100% auto;
	text-align: center;
	h2{
		position: relative;
		margin: 0 auto;
		background: url(../images/safety_title.png) no-repeat;
		@include scale_bg(290,111,1);
		margin-bottom: 40px;
	}
	p{
		max-width: 640px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	ul.saftey_tips{
		list-style: none;
		max-width: 960px;
		margin: 0 auto;
		padding-left: 20px;
		li{
			display: inline-block;
			width: 335px;
			padding-left: 100px;
			margin-right: 40px;
			background: url(../images/safety_bubble.png) no-repeat center left;
		}
	}
	padding-bottom: 400px;
}