#education{
  position:relative;
  font-size: 16px;
  @include respond-to($med) {
  	font-size: 12px;
  }
	background: #526373 url(../images/underwater-bg.png) no-repeat center bottom;
	background-size: 100% auto;
	.water_top{
		background: #3c4856 url(../images/water-top.png) no-repeat center bottom;
		width: 100%;
		height: 300px;
	}
  .character {
    position:absolute;
    &.magnet-man {
      right:20px;
      top:0;
      .magnet-bubbles {
        left:80px;
        top:250px;
      }
    }
    &.mine {
      top:400px;
      left:20px;
    }
    &.chest {
      bottom:30px;
      right:30px;
      z-index:3;
    }
    @include respond-to($desktop) {
    	display: none;
    }
  }
  	.content{
		text-align: center;
		@include respond-to($large) {
			padding-bottom: 200px;
		}
		@include respond-to($med) {
			box-sizing: border-box;
			padding-left: 10px;
			padding-right: 10px;
		}
		h2{
			position: relative;
			margin: 0 auto;
			background: url(../images/safety_title.png) no-repeat;
			@include scale_bg(290,111,1);
			margin-bottom: 40px;
			@include respond-to($med) {
				@include scale_bg(290,111,.5);
			}
		}
		p{
			max-width: 640px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		ul.saftey_tips{
			list-style: none;
			max-width: 960px;
			margin: 0 auto;
			padding-left: 20px;
			li{
				display: inline-block;
				width: 335px;
				padding-left: 100px;
				margin-right: 40px;
				background: url(../images/safety_bubble.png) no-repeat center left;
				@include respond-to($med) {
					width: 100%;
					padding-left: 0;
					padding-bottom: 50px;
					padding-top: 10px;
					background: url(../images/safety_bubble.png) no-repeat bottom center;
					background-size: 30px auto;
				}
			}
			@include respond-to($large) {
				padding-left: 0;
				li{
					margin-right: 0;
				}
			}

		}
	}

	padding-bottom: 400px;
	margin-bottom: 80px;
	@include respond-to($large) {
		padding-bottom: 80px;
	}
}
