#intro{
    max-width: 1600px;
    background: url(../images/bg_clouds.png) no-repeat fixed center top #96d2f9;
    background-size: 100% auto;
    min-height: 800px;
    position: relative;
    @include respond-to($desktop) {
      min-height: 727px;
    }
    @include respond-to($large) {
      font-size: 14px;
    }
    @include respond-to($med) {
      font-size: 12px;
      min-height: 500px;
      .character{
        display: none;
      }
    }
    .mountain_bg{
      max-width: 1600px;
      width: 100%;
      top: 200px;
      position: absolute;
      .left{
        background: url(../images/bg_mountains_left.png);
        @include scale_bg(439,383,1);
        position: absolute;
        left: 0px;
        @include respond-to($med) {
          @include scale_bg(439,383,.5); 
        }
      }
      .right{
        background: url(../images/bg_mountains_right.png);
        position: absolute;
        right: 0px;
        @include scale_bg(586,383,1);
        @include respond-to($med) {
          @include scale_bg(586,383,.5);
        }
      }
    }
    .foreground{
        position: relative;
        background: url(../images/foreground.png) no-repeat center bottom;
        height: 700px;
        padding-top: 100px;
        @include respond-to($desktop) {
            background-size: 1200px auto;
            height: 630px;
        }
        .download_lockup{
            background: url(../images/games-logo.png) no-repeat top left;
            padding-top: 100px;
            background-size: 144px auto;
            width: 300px;
            margin: 0 auto;
            position: relative;
            z-index: 100;
            margin-top: 60px;
            @include respond-to($desktop) {
                margin-top: 40px;

            }
            @include respond-to($large) {
                margin-top: 0;
                width: 240px;
            }
            @include respond-to($med) {
                margin-top: 40px;
            }
            .applinks{
                width: 200px;
                .app_dl{
                    width: 200px;
                }
                .app_dl_link{
                    margin-top: 0;
                }
                .character {
                  position:absolute;
                  &.javelin {
                    margin-top:-300px;
                    margin-left:60px;
                    @include respond-to($med) {
                      display:block;
                    }
                  }
                } 
            }
        }
        @include respond-to($large) {
            .applinks{
                width: 320px;
                padding: 0;
                margin: 0 auto;
                .app_dl_link{
                    margin-top: 10px;
                }
            }
        }
        @include respond-to($med) {
            background-size: 800px auto;
            height: 406px;
            .applinks{
                width: 320px;
                padding: 0;
                margin: 0 auto;
                .app_dl_link{
                    margin-top: 10px;
                }
            }
        }
        h1{ 
            margin: 0 auto;
            background: url(../images/dwtd_logo.png) no-repeat center center;
            @include scale_bg(279,114,1);
            margin-bottom: 30px;
             @include respond-to($med) {
                @include scale_bg(279,114,.5);
             }
        }
        
        .station{
            @include scale_bg(465,284,1);
            background: url(../images/station.png) no-repeat center center;
            margin: 0 auto;
            position: relative;
            @include respond-to($desktop) {
                @include scale_bg(465,284,.9);
            }
            @include respond-to($med) {
                @include scale_bg(465,284,.5);
            }
            .character {
              position: absolute;
              &[data-framestall] {
                cursor:pointer;
              }
              &.snake {
                top:178px;
                left:80px;
              }
              &.glue {
                top: 170px;
                left: -40px;
                @include respond-to($desktop) {
                    top:150px;
                }
                @include respond-to($large) {
                  left:40px;
                  top:140px;
                }
              }
              &.toasty {
                top:160px;
                left:380px;
                @include respond-to($desktop) {
                    top:123px;
                    left: 342px;
                }
              }
              &.medicine {
                top: 170px;
                left: 620px;
                @include respond-to($desktop) {
                    display: none;
                }
              }
            }
            .play_vid{
                display: block;
                color: $white;
                font-size: em(30);
                padding-right: 35px;
                width: 160px;
                height: 40px;
                line-height: 42px;
                text-decoration: none;
                background: url(../images/vid_play_station.png) no-repeat center right;
                font-family: $bold;
                margin: 0 auto;
                position: relative;
                top: 107px;
                @include respond-to($med) {
                    width: 120px;
                    top: 42px;
                    background-size: 20px auto;
                    padding-right: 22px;
                    line-height: 40px;
                }
            }
        }
        .platform{
            max-width: 1200px;
            width: 100%;
            height: 83px;
            background: url(../images/platform.png) no-repeat center right;
            background-size: contain;
            margin: 0 auto;
            z-index: 50;
            @include respond-to($desktop) {
                height: 60px;
                background: url(../images/platform.png) no-repeat center center;
                background-size: contain;
            }
            @include respond-to($large) {
                width: 100%;
                background: url(../images/platform.png) no-repeat center center;
                background-size: auto 60px;
            }
            .pledge{
                text-decoration: none;
                color: $grey_text;
                height: 63px;
                line-height: 63px;
                display: block;
                margin-left: 250px;
                span {
                  padding-left:10px;
                  display:inline-block;
                  vertical-align:top;
                }
                .bttn {
                  background: url(../images/bttn.png) no-repeat;
                  width:82px;
                  height:46px;
                  display: inline-block;
                  margin-top:5px;
                  @include respond-to($desktop) {
                    margin-top:-10px;
                  }
                  @include respond-to($large) {
                    background-size: auto 70px;
                    height:35px;
                    width:63px;
                    margin-top:3px;
                  }
                  @include respond-to($med) {
                    background-size: auto 60px;
                    height:30px;
                    width:54px;
                    margin-top:5px;
                  }
                }
                &.active {
                  .bttn {
                    background-position: 0 -46px;
                    @include respond-to($large) {
                      background-position: 0 -35px;
                    }
                    @include respond-to($med) {
                      background-position: 0 -30px;
                    }
                  }
                }
                
                @include respond-to($desktop) {
                    height: 42px;
                    line-height: 42px;
                }
                @include respond-to($med) {
                    //background: url(../images/pledge_button.png) no-repeat top center;
                    background-size: auto 21px;
                    margin: 0 auto;
                    height: 40px;
                    line-height: 15px;
                    width: 290px;
                    padding: 0;
                    span {
                      width:222px;
                      padding-top:7px;
                    }
                }
            }                  
        }
        .tracks{
            width: 100%;
            height: 60px;
            background: url(../images/tracks.png) no-repeat center center;
            margin: 0 auto;
            position: relative;
            @include respond-to($med) {
                height: 30px;
                background-size: auto 30px;
            } 
            .train{
                background: url(../images/train-top.png) no-repeat center left;
                // @include scale_bg(1263,176,1);
                width: 1263px;
                height: 176px;
                position: absolute;
                bottom: 17px;
                z-index: 0;
                @include animation(0s,30s,train_top_better);
                @include animation-iteration-count(infinite);
                left: -1263px;
                 @include respond-to($med) {
                    display: none;
                 }
                 span{
                    width: 100%;
                    display: block;
                    text-align: center;
                    line-height: 176px;
                    font-size: 50px;
                    color: #ff6474;
                    text-transform: uppercase;
                    font-family: $bold;
                 }
            }
        }
        .fg_hills{
            height: 273px;
            background: no-repeat center center;
            background-size: contain;
            position: relative;
            top: -250px;
            @include respond-to($med) {
                display: none;
            }
            &.left{
                background-image: url(../images/foreground_hill_l.png);
                width: 181px;
            }
            &.right{
                background-image: url(../images/foreground_hill_r.png);
                width: 75px;
            }
        }
    }

}
