#intro{
    max-width: 1600px;
    background: url(../images/bg_clouds.png) no-repeat fixed center top #96d2f9;
    background-size: 100% auto;
    min-height: 800px;
    position: relative;
    @include respond-to($large) {
        font-size: 14px;
    }
    @include respond-to($med) {
        font-size: 12px;
    }
    .mountain_bg{
        max-width: 1600px;
        width: 100%;
        top: 200px;
        position: absolute;
        .left{
            background: url(../images/bg_mountains_left.png);
            @include scale_bg(439,383,1);
            position: absolute;
            left: 0px;
            @include respond-to($med) {
                @include scale_bg(439,383,.5); 
            }
        }
        .right{
            background: url(../images/bg_mountains_right.png);
            position: absolute;
            right: 0px;
            @include scale_bg(586,383,1);
            @include respond-to($med) {
                @include scale_bg(586,383,.5);
            }
        }
    }
    .foreground{
        position: relative;
        background: url(../images/foreground.png) no-repeat center bottom;
        height: 700px;
        padding-top: 100px;
        @include respond-to(1200) {
            background-size: 1200px auto;
            height: 630px;
        }
        @include respond-to($med) {
            background-size: 100% auto;
            height: 300px;
        }
        h1{ 
            margin: 0 auto;
            background: url(../images/dwtd_logo.png) no-repeat center center;
            @include scale_bg(279,114,1);
            margin-bottom: 30px;
        }
        .station{
            @include scale_bg(465,284,1);
            background: url(../images/station.png) no-repeat center center;
            margin: 0 auto;
            position: relative;
            @include respond-to($desktop) {
                @include scale_bg(465,284,.9);
            }
            @include respond-to($med) {
                @include scale_bg(465,284,.5);
            }
            .play_vid{
                display: block;
                color: $white;
                font-size: em(30);
                padding-right: 35px;
                width: 160px;
                height: 40px;
                line-height: 42px;
                text-decoration: none;
                background: url(../images/vid_play_station.png) no-repeat center right;
                font-family: $bold;
                margin: 0 auto;
                position: relative;
                top: 100px;
                @include respond-to($med) {
                    width: 120px;
                    top: 40px;
                    background-size: 20px auto;

                }
            }
        }
        .platform{
            max-width: 1200px;
            width: 100%;
            height: 83px;
            background: url(../images/platform.png) no-repeat center right;
            background-size: contain;
            margin: 0 auto;
            @include respond-to($desktop) {
                height: 60px;
                background: url(../images/platform.png) no-repeat center center;
                background-size: contain;
            }
            @include respond-to($large) {
                width: 100%;
                background: url(../images/platform.png) no-repeat center center;
                background-size: auto 60px;

            }
            .pledge{
                text-decoration: none;
                color: $grey_text;
                height: 63px;
                line-height: 63px;
                display: block;
                margin-left: 250px;
                padding-left: 80px;
                background: url(../images/pledge_button.png) no-repeat center left;
                @include respond-to($med) {
                    background: url(../images/pledge_button.png) no-repeat top center;
                    background-size: auto 21px;
                    margin: 0 auto;
                    height: 40px;
                    width: 290px;
                    padding: 0;
                    top: 2px;
                }
            }                  
        }
        .tracks{
            width: 100%;
            height: 60px;
            background: url(../images/tracks.png) no-repeat center center;
            margin: 0 auto;                    
        }
        .fg_hills{
            height: 273px;
            background: no-repeat center center;
            background-size: contain;
            position: relative;
            top: -250px;
            @include respond-to($med) {
                display: none;
            }
            &.left{
                background-image: url(../images/foreground_hill_l.png);
                width: 181px;
            }
            &.right{
                background-image: url(../images/foreground_hill_r.png);
                width: 75px;
            }
        }
    }

}
