
#shop{
	width: 100%;
	position: relative;
	background: #f3efad;
	padding-top: 470px;
	@include respond-to($large) {
		padding-top: 300px;
	}
	@include respond-to($med) {
		padding-top: 50px;
	}
	.sandcastle{
		width: 100%;
		height: 229px;
		background: url(../images/sand-top.png) no-repeat center bottom;
		position: absolute;
		top: -229px;
	}
	.shop_mountains{
		width: 100%;
		background: #95be57;
		position: relative;
		height: 600px;
		z-index: 0;
		.hills{
			background: url(../images/hills-bg.png) no-repeat center bottom;
			position: absolute;
			top: -490px;
			height: 610px;
			width: 100%;
			background-size: 100% auto;
		}
		.content{
			width: 100%;
			text-align: center;
			z-index: 10;
			position: relative;
			top: -400px;

	      .character {
	        position: absolute;

	        &.flag01 {
	          bottom: 250px;
	          z-index:-1;
	        @include respond-to($med) {
	          display: none;
	        }

	          &.flag-first {
	            left:20px;
	          }
	          &.flag-second {
	            left:20%;
	            bottom: 400px;
	          }
	          &.flag-third {
	            right:20%;
	            bottom: 400px;
	          }
	          &.flag-fourth {
	            right:20px;
	          }
	        }
	      }
	      .searchlight{
	      	background: url(../images/searchlight.png) no-repeat center bottom;
	      	@include scale_bg(313,902,.9);
	      	@include vendor-prefix(transform-origin,50% 100%);
	      	&.left{
	      		@include animation(0s,5s,light_chase_l);
            	left: 10%;
	      	}
	      	&.right{
	      		@include animation(0s,7s,light_chase_r);
	      		right: 10%;
	      	}
          @include animation-iteration-count(infinite);
          position: absolute;
          bottom: 0px;
   	      	@include respond-to($med) {
	      		@include scale_bg(313,902,.3);
	      		bottom:-50px;
	      	}

	      }
        .booth-man {
          position:absolute;
          display:block;
          bottom:-180px;
          right:20%;
          background:url(../images/booth-man.png) no-repeat center bottom;
          
	      	@include scale_bg(328,530,.9);
          @include respond-to($med) {
            @include scale_bg(328,530,.3);
            right:20px;
          }
        }

			.shop_tent{
				width: 100%;
				max-width: 1288px;
				height: 702px;
				background: url(../images/shop-tent.png) no-repeat center bottom;
				background-size: 100% auto;
				margin: 0 auto;
			}

		}
	}


}
