#videos{
    width: 100%;
    min-height: 1590px;
    background: url(../images/videos_bg.png) no-repeat center bottom #95be57;
    @include respond-to($med) {
      background-size: 800px auto;
    }
    #vidplayer{
    	background: url(../images/vid_player_bg.png) no-repeat center center;
        @include scale_bg(1087,686,1);
        margin: 0 auto;
        position: relative;
        @include respond-to($med) {
          height: 216px;
          width: 100%;
          background-size: contain;
        }
    }

    .vid_links{
    	background: url(../images/vid_thumbs.png) no-repeat center center;
      @include scale_bg(923,157,1);
      margin: 0 auto;
      position: relative;
      top: 60px;
      left: -12px;
      .vids{
        @include navigation-list;
      }

      .next {
        position: absolute;
        right: 62px;
        top: 70px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        transform: rotate(5deg);
      }
      .prev {
        position:absolute;
        top: 69px;
        left: 57px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        transform: rotate(5deg);
      }
  
    }
}
