
#videos{

    width: 100%;
    min-height: 1430px;
    background: url(../images/videos_bg.png) no-repeat center 80px #95be57;
    position:relative;
    @include respond-to($med) {
      background-size: 800px auto;
      min-height: 660px;
    }

    .character {
      position:absolute;
      &.swimmer2 {
        right:30%;
        bottom:200px;
      }
      &.swimmer1 {
        left:30%;
        bottom:250px;
      }
      &.piranha {
        bottom:220px;
        left:45%;
        @include respond-to($med) {
          display: none;
        }
      }
    }

    #vidplayer{
    	background: url(../images/vid_player_bg.png) no-repeat center center;
        box-sizing: border-box;
        @include scale_bg_vid(1087,686,1);
        margin: 0 auto;
        position: relative;
        
        .prev, .next{
          position: absolute;
          top: 50%;
          display: none;
          z-index: 5;
          @include respond-to($desktop) {
            display: block;
          }
        }
        .prev{
          left: -10px;
        }
        .next{
          right: 0px;
        }
        iframe{
          // display: block;
        }
        @include respond-to($desktop) {
          @include scale_bg_vid(1087,686,.9);
        }
        @include respond-to($large) {
          @include scale_bg_vid(1087,686,.5);
        }
        @include respond-to($med) {
          @include scale_bg_vid(1087,686,.28);
        }
    }

    .vid_links{
    	background: url(../images/vid_thumbs.png) no-repeat center center;
      @include scale_bg(923,157,1);
      margin: 0 auto;
      position: relative;
      top: 60px;
      left: -12px;
      @include respond-to($desktop) {
        display: none;
      }
      ul.vids{
        @include navigation-list;

        li {
          a {
            display:none;

            img {
              width:155px;
              height:110px;
            }
            &.active {
              img {
                opacity:0.5;
              }
            }

            &[data-index="1"], &[data-index="2"], &[data-index="3"], &[data-index="4"], &[data-index="5"] {
              display:block;
              position:absolute;
            }
            &[data-index="1"] {
              top: 33px;
              left: 13px;
              -webkit-transform: rotate(4deg);
              -moz-transform: rotate(4deg);
              transform: rotate(4deg);
            }
            &[data-index="2"] {
              top: 33px;
              left: 207px;
              -webkit-transform: rotate(-4deg);
              -moz-transform: rotate(-4deg);
              transform: rotate(-4deg);
            }
            &[data-index="3"] {
              top: 32px;
              left: 381px;
              -webkit-transform: rotate(4deg);
              -moz-transform: rotate(4deg);
              transform: rotate(4deg);
            }
            &[data-index="4"] {
              top: 32px;
              left: 575px;
              -webkit-transform: rotate(-5deg);
              -moz-transform: rotate(-5deg);
              transform: rotate(-5deg); 
            }
            &[data-index="5"] {
              top: 32px;
              left: 749px;
              -webkit-transform: rotate(4deg);
              -moz-transform: rotate(4deg);
              transform: rotate(4deg);
            }
          }
        }
      }

      .next {
        position: absolute;
        right: -70px;
        top: 70px;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        transform: rotate(-5deg);
      }
      .prev {
        position:absolute;
        top: 69px;
        left: -76px;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        transform: rotate(-5deg);
      }

  
    }
}
