#videos{
    width: 100%;
    min-height: 1590px;
    background: url(../images/videos_bg.png) no-repeat center bottom #95be57;
    @include respond-to($med) {
      background-size: 800px auto;
      min-height: 660px;
    }
    #vidplayer{
    	background: url(../images/vid_player_bg.png) no-repeat center center;
        @include scale_bg(1087,686,1);
        margin: 0 auto;
        position: relative;
        iframe{
          position: relative;
          top: 145px;
          margin: 0 93px 0;
        }
        .prev, .next{
          position: absolute;
          top: 50%;
          display: none;
          @include respond-to($desktop) {
            display: block;
          }
        }
        .prev{
          left: 0px;
        }
        .next{
          right: 0px;
        }
        @include respond-to($desktop) {
          width: 1024px;
          height: 645px;
          background-size: 100% auto;
          iframe{
            margin: 0 88px 0;
            width: 829px;
            height: 464px;
          }

        }
        @include respond-to($large) {
          width: 768px;
          height: 483px;
          iframe{
            margin: 40px 65px 0;
            width: 623px;
            height: 348px;
          }
        }
        @include respond-to($med) {
          width: 320px;
          height: 202px;
          background-size: contain;
          iframe{
            margin: 0 27px 0;
            width: 260px;
            height: 145px;
          }
        }
    }

    .vid_links{
    	background: url(../images/vid_thumbs.png) no-repeat center center;
      @include scale_bg(923,157,1);
      margin: 0 auto;
      position: relative;
      top: 60px;
      left: -12px;
      @include respond-to($desktop) {
        display: none;
      }
      .vids{
        @include navigation-list;
      }

      .next {
        position: absolute;
        right: 62px;
        top: 70px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        transform: rotate(5deg);
      }
      .prev {
        position:absolute;
        top: 69px;
        left: 57px;
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        transform: rotate(5deg);
      }
  
    }
}
